<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchoolFirst.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
				<key>dateExpires</key>
				<string>05/05/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CFNetworkSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CashfreeAnalyticsSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CashfreePG.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CashfreePGCoreSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CashfreePGUISDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.5.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>12.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>460</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0CC89FEFAC5861C12D55E0CCB2B84DC18F121B2D</string>
						<key>dateExpires</key>
						<string>05/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>QPassLib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CN8AS9ANR</string>
						<key>name</key>
						<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7CN8AS9ANR.com.paranpara.schoolfirst</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7CN8AS9ANR</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>SchoolFirst.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>612c45e8-325c-4d97-89ae-330c7eaf8725</string>
				<key>dateExpires</key>
				<string>19/05/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.paranpara.schoolfirst</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7CN8AS9ANR</string>
				<key>name</key>
				<string>PARAN PARA EDUCATION POLICY PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.41</string>
		</dict>
	</array>
</dict>
</plist>
