//
//  Dev.xcconfig
//  SchoolFirst
//
//  Created by Ranjith Padidala on 13/06/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
server_url = https:/$()/dev-api.schoolfirst.ai/
app_bundle_identifier = com.paranpara.schoolfirst.dev
app_name = SF Dev

